@charset "UTF-8";

html, body, h1, h2, h3, h4, h5, h6 {
    font-family: sans-serif
}

body {
    background: whitesmoke;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:hover {
	background-color: #f2f2f2;
	cursor:pointer;
}

th {
    background-color: #ffffff;
    color: white;
}

.base_tables input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
}


.login-box  {
    width: 320px;
    height: 420px;
    background: rgba(1, 1, 1, 0.5);
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.register-box  {
    height: 740px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: left;
    font-size: 22px;

}

.login-box p {
    margin: 0;
    padding: 0;
    font-weight: bold;

}

.login-box input {
    width: 60%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"] {
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;

}

.login-box input[type="text"]::placeholder {
    color: lightgrey;
}

.login-box input[type="password"]::placeholder {
    color: lightgrey;
}

.login-box input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #467ed9;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;

}

.login-box input[type="submit"]:hover {
    cursor: pointer;
    background: #39dc79;
    color: white;
}

.login-box a {
    text-decoration: none;
    font-size: 14px;
    color: #1cceff;
}

.login-box a:hover {
    color: #39dc79;
}